.imagem{
    height: 400px;
    width: 100%;
}
.team{
    height: 500px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-items: center;

}
.cardm{
    height: 500px;
    padding: 30px;
    border: 2px solid gray;
    justify-items: center;
    text-align: center;


}
.image{
 height: 300px;
}
.cardla{
    height: 450px;
    padding-top: 10px;
    text-align: center;
}
.imagel{
    height: 350px;
    width: 100%;
}